html {
    background-color: #7A9D96;
    //background-image: linear-gradient(to right bottom, #051937, #00425c, #106e72, #5e987c, #aebe8b);
}

.myBg{
    background-color:red;
}

.bgCinza {
    background-color: #DDD;
}
.grad {
    background-color: #7A9D96;
    //background-image: linear-gradient(to right bottom, #051937, #00425c, #106e72, #5e987c, #aebe8b);
}
.modal1{
    background-image: linear-gradient(to right bottom, #051937, #00425c, #106e72, #5e987c, #aebe8b);
    
}
.img-80-80 {
    width: 80px;
    // a altura se adequa proporcionalmente
}

.cemPorCento {
    width: 100% !important;
}

